In [1]:
import requests
import json
import pandas as pd

In [2]:
#get RTZs matches
r = requests.get("https://api.opendota.com/api/players/86745912/matches")
with open('arteezy.json', 'w') as out:
                json.dump(r.json(), out, sort_keys=True, indent='\t')

In [3]:
rtz = pd.read_json('arteezy.json')

In [26]:
#get the heroes 
r = requests.get("https://api.opendota.com/api/constants/heroes")

with open('heroes.json', 'w') as out:
                json.dump(r.json(), out, sort_keys=True, indent='\t')

In [27]:
heroes = pd.read_json('heroes.json')

In [28]:
heroes = heroes.T

In [12]:
heroes.to_csv('heroes.csv')

In [18]:
# Create a dictionary which maps the hero id to hero name
hero_dict = pd.Series(heroes.localized_name.values,index = heroes.id).to_dict()

In [31]:
# Replace the hero id with the hero name in RTZ's games
rtz_matches = pd.read_csv("rtz.csv")
rtz_matches = rtz_matches.replace({"hero_id": hero_dict})

In [32]:
rtz_matches.head()

,Unnamed: 0,Unnamed: 0.1,assists,deaths,duration,game_mode,hero_id,kills,leaver_status,lobby_type,match_id,party_size,player_slot,radiant_win,skill,start_time,version
0,0,0,4,4,2170,2,Terrorblade,0,1,1,6040802788,10.0,128,1.0,NaN,2021-06-13 21:18:01,21.0
1,1,1,18,5,2831,2,Nature's Prophet,2,0,1,6040722034,10.0,0,0.0,NaN,2021-06-13 19:58:20,21.0
2,2,2,4,4,2003,2,Nature's Prophet,0,1,1,6040639859,10.0,128,1.0,NaN,2021-06-13 18:54:58,21.0
3,3,3,14,1,2208,2,Terrorblade,11,0,1,6040431300,10.0,128,0.0,NaN,2021-06-13 16:20:09,21.0
4,4,4,11,5,3873,2,Terrorblade,14,1,1,6040270220,10.0,0,0.0,NaN,2021-06-13 14:37:26,21.0

In [ ]:
rtz_matches.to_csv('rtz.csv')